<div class="table-responsive">
  <table data-toggle="table"
    data-url="/admin/order_tables/data.json?<%== request.query_string %>"
    data-sort-name="id"
    data-page-list="[15, 30, 45]"
    data-page-size="15"
    data-pagination="true" data-show-pagination-switch="false">
    <thead>
      <tr>
        <th data-field="order_number" data-sortable="true">订单号</th>
        <th data-field="user_name" data-sortable="true">客户</th>
        <th data-field="sort" data-sortable="true">类型</th>
        <th data-field="bulk_wine" data-sortable="true">产品</th>
        <th data-field="bottle_code" data-sortable="true">瓶型</th>
        <!-- <th data-field="outer_packing" data-sortable="true">纸箱外包装</th> -->
        <th data-field="seller_name" data-sortable="true">销售</th>
        <th data-field="status_show" data-sortable="true">状态</th>
        <!-- <th data-field="produced" data-sortable="true">生产状态</th> -->
        <th data-field="shipped" data-sortable="true">发货</th>
        <th data-field="paid" data-sortable="true">尾款</th>
      </tr>
    </thead>
  </table>
</div>