<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%== Const::BASE_TITLE %> 管理后台</title>
    <link rel="icon" type="image/png" href="<%== asset_path('logo.png') %>" />
    <style>
      body {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-weight: normal; font-variant: normal; color: #7a878e; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased !important; background-color: #ecf0f5; margin: 0;
      }
      #container {
        width: 100%; background-color: #ecf0f5;min-width: 430px;max-width:960px;margin: 0 auto;
      }
    </style>
  </head>
  <body style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-weight: normal; font-variant: normal; color: #7a878e; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased !important; background-color: #ecf0f5; margin: 0;">
    <div id="container" bgcolor="#ecf0f5" style="width: 100%; background-color: #ecf0f5;min-width: 430px;max-width:960px;margin: 0 auto;">
      <div class="boxed">
        <div id="content-container">
          <%== yield %>
        </div>
        
        <footer id="footer" style="color: #7a878e;position: relative;padding-top: 10px;padding-bottom: 20px;z-index: 2;left: 0;right: 0;height: 20px;text-align: center;float: left;width: 100%;overflow: hidden;">
          <div class="hide-fixed pull-center pad-rgt">
            ABN: 69 163 686 128 | Phone: 08 8410 4635 | Email: system@orchidwine.com.au | Address: 208 Gouger St, Adelaide SA 5000
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>