<div class="row">
  <div class="col-md-3">
    <a href="/admin/orders_new">
      <div class="panel panel-success panel-colorful media middle pad-all">
        <div class="media-body">
          <p class="text-2x mar-no text-semibold">添加OEM到购物车</p>
          <p class="mar-no">当前有 <%== @oem_quotaiton_count %> 个OEM订单在购物车</p>
          <p class="mar-no">请注意，购物车无法保证库存情况，请及时确定你的订单状态。</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/admin/orders_new?auto_confirm=1">
      <div class="panel panel-info panel-colorful media middle pad-all">
        <div class="media-body">
          <p class="text-2x mar-no text-semibold">直接购买OEM产品</p>
          <p class="mar-no">当前有 <%== @bottling_quotaiton_count %> 个预确定订单</p>
          <p class="mar-no">请注意，预预定订单仅有14天有效期，如果不及时付款，订单将自动转到购物车，且无法保证库存情况。</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/admin/users/new">
      <div class="panel panel-mint panel-colorful media middle pad-all">
        <div class="media-body">
          <p class="text-2x mar-no text-semibold">添加客户管理</p>
          <p class="mar-no">已添加 <%== @user_count %> 个客户信息</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/admin/import_companies/new">
      <div class="panel panel-purple panel-colorful media middle pad-all">
        <div class="media-body">
          <p class="text-2x mar-no text-semibold">添加进口公司</p>
          <p class="mar-no">已添加 <%== @import_company_count %> 个进口公司</p>
        </div>
      </div>
    </a>
  </div>
</div>