tmp/.
log/development.log
tmp/pids/server.pid
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
stdout
public/upload/*
db/schema.rb
config/database.yml
dump.rdb
log/development.log
tmp/pids/server.pid
log/production.log
orchid_wine_pro.log
订单列表.xlsx
test.xlsx
production.log.tar
log/capistrano.log
