<!-- DELETE -->
<form action="#" method='post' style='display: none;' id='delete-form'>
    <input type="hidden" name="_method" value="delete"/>
</form>

<form action="#" method='post' style='display: none;' id='post-form'>
    <input type="hidden" name='record_remarks' value="">
    <input type="hidden" name='express_num' value="">
</form>

<form action="#" method='post' style='display: none;' id='price-form'>
    <input type="hidden" name='price' value="">
</form>

<form action="#" method='post' style='display: none;' id='percentage-form'>
    <input type="hidden" name='percentage' value="">
</form>

<form action="#" method='post' style='display: none;' id='ddh-form'>
    <input type="hidden" name='logistics_number' value="">
</form>

<form action="#" method='post' style='display: none;' id='charge-form'>
    <input type="hidden" name='charge' value="">
</form>
<!-- SORT -->
<form action="#" method='post' style='display: none;' id='sort-form'>
    <input type="hidden" name="id" value=""/>
    <input type="hidden" name="index" value=""/>
</form>
<form action="#" method='get' style='display: none;' id='pay-status-form'>

</form>
<div class="progress progress-striped active hide" id='temp-progress'>
    <div style="width: 80%;" class="progress-bar progress-bar-primary"></div>
</div>