/* Add here all your css styles (customizations) */

.red_stuff{
color:#a10f2b;
}

.margin20{
    margin:10px 0px 10px 0px;
}

section {
  padding:0;
}

.bg-gray {
  background-color: #f8f8f8;
}
.bg-gray > .row{
  margin:0;
}

a.product {
    font-size:14px;
}